<ul class="social-buttons">
{% if site.rss %}

{% endif %}

{% if site.email %}

{% endif %}

{% if site.behance %}
<li class="follow-btn">
	<a href="https://www.behance.net/{{ site.behance }}" title="Follow on Behance">
		<i class="fa fa-fw fa-behance"></i>
	</a>
</li>
{% endif %}

{% if site.bitbucket %}
<li class="follow-btn">
	<a href="https://bitbucket.org/{{ site.bitbucket }}" title="Follow on Bitbucket">
		<i class="fa fa-fw fa-bitbucket"></i>
	</a>
</li>
{% endif %}

{% if site.dribbble %}
<li class="follow-btn">
	<a href="https://dribbble.com/{{ site.dribbble }}" title="Follow on Dribbble">
		<i class="fa fa-fw fa-dribbble"></i>
	</a>
</li>
{% endif %}

{% if site.facebook %}
<li class="follow-btn">
	<a href="https://www.facebook.com/{{ site.facebook }}" title="Follow on Facebook">
		<i class="fa fa-fw fa-facebook"></i>
	</a>
</li>
{% endif %}

{% if site.flickr %}
<li class="follow-btn">
	<a href="https://www.flickr.com/photos/{{ site.flickr }}" title="Follow on Flickr">
		<i class="fa fa-fw fa-flickr"></i>
	</a>
</li>
{% endif %}

{% if site.github %}

{% endif %}

{% if site.google_plus %}
<li class="follow-btn">
	<a href="https://plus.google.com/{{ site.google_plus }}" title="Follow on Google+">
		<i class="fa fa-fw fa-google-plus"></i>
	</a>
</li>
{% endif %}

{% if site.instagram %}
<li class="follow-btn">
	<a href="http://instagram.com/{{ site.instagram }}" title="Follow on Instagram">
		<i class="fa fa-fw fa-instagram"></i>
	</a>
</li>
{% endif %}

{% if site.linkedin %}
<li class="follow-btn">
	<a href="{{ site.linkedin }}" title="Follow on LinkedIn">
		<i class="fa fa-fw fa-linkedin"></i>
	</a>
</li>
{% endif %}

{% if site.pinterest %}
<li class="follow-btn">
	<a href="http://www.pinterest.com/{{ site.pinterest }}" title="Follow on Pinterest">
		<i class="fa fa-fw fa-pinterest"></i>
	</a>
</li>
{% endif %}

{% if site.reddit %}
<li class="follow-btn">
	<a href="https://www.reddit.com/user/{{ site.reddit }}" title="Follow on Reddit">
		<i class="fa fa-fw fa-reddit"></i>
	</a>
</li>
{% endif %}

{% if site.soundcloud %}
<li class="follow-btn">
	<a href="https://soundcloud.com/{{ site.soundcloud }}" title="Follow on SoundCloud">
		<i class="fa fa-fw fa-soundcloud"></i>
	</a>
</li>
{% endif %}

{% if site.stack_exchange %}
<li class="follow-btn">
	<a href="{{ site.stack_exchange }}" title="Follow on Stack Exchange">
		<i class="fa fa-fw fa-stack-exchange"></i>
	</a>
</li>
{% endif %}

{% if site.steam %}
<li class="follow-btn">
	<a href="http://steamcommunity.com/id/{{ site.steam }}" title="Follow on Steam">
		<i class="fa fa-fw fa-steam"></i>
	</a>
</li>
{% endif %}

{% if site.tumblr %}
<li class="follow-btn">
	<a href="https://{{ site.tumblr }}.tumblr.com/" title="Follow on Tumblr">
		<i class="fa fa-fw fa-tumblr"></i>
	</a>
</li>
{% endif %}

{% if site.twitter %}

{% endif %}

{% if site.youtube %}
<li class="follow-btn">
	<a href="https://www.youtube.com/user/{{ site.youtube }}" title="Follow on YouTube">
		<i class="fa fa-fw fa-youtube"></i>
	</a>
</li>
{% endif %}

{% if site.gratipay %}

{% endif %}
</ul>
