<ul class="media-list">
  <h3>Recommended Articles</h3>
  {% for post in site.related_posts limit: 3 %}
  <li class="media">
    <span class="media-left">
      <img class="media-object" src="{{ post.thumbnail }}">
    </span>

    <span class="media-body">
      <h4 class="media-heading">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h4>

      {{ post.excerpt }}
    </span>
  </li>
  {% endfor %}
</ul>

{% if page.recommended_books %}
  <ul class="media-list">
    <h3>Recommended Books</h3>

    {% for book in site.books %}
      {% if page.recommended_books contains book.url %}
        <li class="media">
          <span class="media-left">
            <img class="media-object" src="{{ book.thumbnail }}">
          </span>

          <span class="media-body">
            <h4 class="media-heading">
              <a href="{{ book.url }}" target="_blank">{{ book.title }}</a>
            </h4>

            {{ book.excerpt }}
          </span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
