.post-header {
  padding: 3.5em;
  margin-bottom: 2em;
}

.post-meta {
  color: rgba(56, 56, 56, 0.5);
  font-size: 0.9em;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}

.post-content {
  border-bottom: 1px solid #eeeeec;
}

.post-title {
  a {
    color: inherit;
  }
}

.post {
  font-size: 22px;

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.8em;
  }
}

.post-share {
  position: fixed;
  left: 0;
  top: 30%;
}

.post-list {
  margin-bottom: 2em;
  padding: 1em;
  border-top: 1px solid rgba(50, 50, 50, 0.05);

  .post {
    margin-bottom: 1em;
  }

  .post-header {
    margin: 0;
    padding: 0;
  }

  .post-title {
    padding: 0;
    margin: 0;
  }

  .post-header {
    padding: 0;
    margin: 0;
  }
}
