article,
.comments {
  @extend %padding-regular;
  border-bottom: 1px solid $border-color;
  float: left;
  width: 100%;
}
article {
  header {
    margin-bottom: 6%;
    text-align: center;
  }
  a:hover {
    @extend %link-hover;
  }
  .footnotes {
    font-size: 0.9em;
  }
}

.post-content {
  padding-bottom: 2em;
}
header {
  h1 {
    margin: 0;
  }
  .meta {
    color: rgba($text-color, .5);
    font-size: 0.9em;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
  }
}
.feature-image {
  padding: 0%;
  .post-link {
    color: $feature-image-text-color;
  }
  header {
    color: $feature-image-text-color;
    background-size: $feature-image-size;
    margin-bottom: 0;
    padding: $padding-large/2.5 $padding-large;
    .meta {
      color: rgba($feature-image-text-color, .7);
    }
  }
  .post-content {
    @extend %padding-regular;
  }
}

.media {
  margin:10px;
  overflow: hidden;
  clear: both;
}

.media-content {
  overflow:hidden;
  _overflow:visible;
  zoom:1;
}

.media-thumbnail {
  float:left;
  margin-right: 10px;
}

.media-thumbnail img {
  display: block;
}

.share-buttons {
	list-style: none;
  text-align: center;
}

.share-buttons h3 {
  text-align: left;
}

.share-buttons li {
	display: inline-block;
	margin: 1em;
}

.share-buttons a,
.share-buttons a:hover {
  font-size: 2.75em;
  text-decoration: none;
}

.share-buttons a[href*=facebook] {
  color: #3b5998;
}

.share-buttons a[href*=twitter] {
  color: #4099FF;
}

.share-buttons a[href*=google] {
  color: #d34836;
}


