---
layout: default
---
<article class="post" data-categories="{{ page.categories | join ' ' }}">
  <header class="post-header">
    <div class="container">
      <h1 class="post-title">{{ page.title }}</h1>

      <p class="post-meta">
        <span class="post-date">{{ page.date | date: "%B %-d, %Y" }}

        {% if page.author %}
          - <span class="post-author">{{ page.author }}</span>
        {% endif %}
        {% if page.categories %}
          in <span class="post-categories">
            {{ page.categories | join ',' }}
          </span>
        {% endif %}
      </p>
    </div>

    <ins class="adsbygoogle adslot adslot-1" data-ad-client="ca-pub-3538270718430385" data-ad-slot="5157004025" data-ad-format="auto"></ins>
  </header>

  <section class="post-content">
    <div class="container">
      <!-- google_ad_section_start -->
      {{ content }}
      <!-- google_ad_section_end -->
    </div>
  </section>

  <ins class="adsbygoogle adslot adslot-2" data-ad-client="ca-pub-3538270718430385"
    data-ad-slot="6035042824" data-ad-format="auto"></ins>

  <section class="post-recommendations">
    <div class="container">
      {% include recommended.html %}
    </div>
  </section>

  <section class="post-comments">
    <div class="container">
      <ins class="adsbygoogle adslot adslot-3" data-ad-client="ca-pub-3538270718430385" data-ad-slot="5352451624" data-ad-format="auto"></ins>

      <h2>Comments</h2>
      {% include disqus.html %}
    </div>
  </section>
</article>

<script type="text/javascript" src="/jquery.floating-share.min.js"></script>
<script>
  $(function() {
    $("body").floatingShare({
        place: "top-left", // alternatively top-right
        counter: true, // set to false to hide counters of pinterest, facebook, twitter, linkedin and google-plus
        buttons: ["facebook","twitter","google-plus","linkedin","envelope","stumbleupon","pinterest"], // all of the currently avalaible social buttons
        title: document.title, // your title, default is current page's title
        url: window.location.href,  // your url, default is current page's url
        text: "share with ", // the title of a tags
        description: $("meta[name='description']").attr("content"), // your description, default is current page's description
        popup_width: 400, // the sharer popup's width, default is 400px
        popup_height: 300 // the sharer popup's width, default is 300px
    });
  });
</script>

<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  (adsbygoogle = window.adsbygoogle || []).push({});
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
