---
layout: default
---

<article>
  <header style="background-image: url('{{ site.baseurl }}/{{ page.cover_image }}')">
    <h1 class="title">{{ page.title }}</h1>

    <p class="meta">
    {{ page.date | date: "%B %-d, %Y" }}

    {% if page.author %}
      - {{ page.author }}
    {% endif %}
    </p>
    
    <ins class="adsbygoogle adslot1" data-ad-client="ca-pub-3538270718430385" data-ad-slot="5157004025" data-ad-format="auto"></ins>
  </header>

  <section class="post-content">
    {{ content }}
  </section>
  <ins class="adsbygoogle adslot2" data-ad-client="ca-pub-3538270718430385" data-ad-slot="6035042824" data-ad-format="auto"></ins>
</article>

<div class="comments">
  {% include disqus.html %}
</div>

<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
